<%- partial('_partial/head') %>
<body id="ircmaxell-blog">
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <div class="l_body">
    <div class='container clearfix'>
      <div class='l_main'>
        <%- body %>
      </div>
      <aside class='l_side'>
        <%- partial('_partial/side') %>
      </aside>
    </div>
  </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/scripts') %>
</body>
</html>
